* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Main header */
body > header {
  flex: 0;
  padding: 16px;
  background-color: #564572;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* Main footer */
body > footer {
  flex: 0;
  padding: 8px;
  background-color: #564572;
  color: white;
  font-size: 15px;
  text-align: center;
}

/* Content section between main header and footer */
body > main {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Data column on the left -------------------------------------  */
body > main .data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body > main .data-container > header:first-child {
  flex: 0;
  padding: 8px;
  background-color: #8167ac;
  color: white;
  font-size: 17px;
}

body > main .data-container > header:nth-child(2) {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background-color: #b593eb;
  color: #241936;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

body > main .data-container > header:nth-child(2) span {
  flex: 1;
}

.button-apply {
  flex: 0;
  border: solid #564572 1px;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
}

.button-apply:hover,
.button-apply:active {
  background-color: #f7f3ff;
}

body > main .data-container > main {
  flex: 1;
}

body > main .data-container > main > .data {
  border: none;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

body > main .data-container > footer {
  display: none;
  flex: 1;
  max-height: 150px;
  overflow: auto;
  padding: 8px;
  background-color: #802222;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}

/* Graph column on the right -------------------------------------  */
body > main .graph-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: solid #1c102e 1px;
  overflow: hidden;
}

body > main .graph-container > header {
  flex: 0;
  padding: 8px;
  background-color: #8167ac;
  color: white;
  font-size: 17px;
}

body > main .graph-container > main {
  flex: 1;
  background-color: #e1eafd;
  overflow: hidden;
}

